<!DOCTYPE html>
<html>
    <head><title>Bootstrap 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="app/app.css">
        <link rel="stylesheet" href="app/minimit.css">        
    </head>
    <body>
        <header class="container-fluid">
            <h1>header</h1>
        </header>
        <div class="container-fluid">
            <div class="row">
                <section class="col-sx-12 col-sm-9 col-md-8 col-sm-push-3 col-md-push-2">
                     <article>
                        <h2>Why Node ExpressJS Is Awesome</h2>
                        <img style="width: 100%;" src="app/img/article_1.png"/>
                        <div class="row">
                            <p class="col-sm-10">
                                When one goes by frameworks for Node.js, it is undoubtedly true that Express.js is surely among the best of frameworks to work with..
                            </p>
                            <div class="col-sm-2">
                                <button class="btn btn-primary">
                                    More
                                </button>
                            </div>
                        </div>
                    </article>

                     <article>
                        <h2>Why Node ExpressJS Is Awesome</h2>
                        <img style="width: 100%;" src="app/img/article_1.png"/>
                        <div class="row">
                            <p class="col-sm-10">
                                When one goes by frameworks for Node.js, it is undoubtedly true that Express.js is surely among the best of frameworks to work with..
                            </p>
                            <div class="col-sm-2">
                                <button class="btn btn-primary">
                                    More
                                </button>
                            </div>
                        </div>
                    </article>
                </section>
                <aside class="col-sx-12 col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-8">
                    <h4 class="range-titte">
                        <b>Hot Trends</b>
                    </h4>
                    <div class="range-list">
                        <a href="#">
                            <img src="app/img/img_trend_node_express.png"/>
                            <h4>NodeJS Express</h4>
                        </a>
                         <a href="#">
                            <img src="app/img/img_trend_angular2.png"/>
                            <h4>Angular 2</h4>
                        </a>
                         <a href="#">
                            <img src="app/img/img_trend_react.png"/>
                            <h4>React</h4>
                        </a>
                    </div>
                </aside>       
                <aside class="col-sx-12 col-sm-12 col-md-2 icon-list">
                    <a href="#">
                        <img src="app/img/icon_home1.png"/>
                        <p>Home</p>
                    </a>
                    <a href="#">
                        <img src="app/img/icon_history1.png"/>
                        <p>History</p>
                    </a>
                     <a href="#">
                        <img src="app/img/icon_contact1.png"/>
                        <p>Contact</p>
                    </a>
                </aside>
            </div>
        </div>
        <footer class="container-fluid">
            <h1>Footer</h1>
        </footer>
    </body>
</html>