<!DOCTYPE html>
<html>
    <head><title>Bootstrap 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="app/app.css">
        <link rel="stylesheet" href="app/minimit.css">
        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>     
    </head>
    <body>
        <header class="container-fluid">
            <div class="row">
                
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#top">
                            <img src="app/img/logo.png"/>
                        </a>
                    </div>
                
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">History</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="row-lg-height row-md-height">
                    <section class="col-sm-height col-md-height col-lg-height col-sx-12 col-sm-9 col-md-8 col-sm-push-3 col-md-push-2 col-lg-8 col-lg-push-2">
                        <article>
                            <h2>Why Node ExpressJS Is Awesome</h2>
                            <img style="width: 100%;" src="app/img/article_1.png"/>
                            <div class="row">
                                <p class="col-sm-10">
                                    When one goes by frameworks for Node.js, it is undoubtedly true that Express.js is surely among the best of frameworks to work with..
                                </p>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary">
                                        More
                                    </button>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h2>Why Node ExpressJS Is Awesome</h2>
                            <img style="width: 100%;" src="app/img/article_1.png"/>
                            <div class="row">
                                <p class="col-sm-10">
                                    When one goes by frameworks for Node.js, it is undoubtedly true that Express.js is surely among the best of frameworks to work with..
                                </p>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary">
                                        More
                                    </button>
                                </div>
                            </div>
                        </article>
                    </section>
                    <aside class="col-sm-height col-md-height col-lg-height  col-sx-12 col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-8 col-lg-2 col-lg-pull-8">
                        <h4 class="range-titte">
                            <b>Hot Trends</b>
                        </h4>
                        <div class="range-list">
                            <a href="#">
                                <img src="app/img/img_trend_node_express.png"/>
                                <h4>NodeJS Express</h4>
                            </a>
                            <a href="#">
                                <img src="app/img/img_trend_angular2.png"/>
                                <h4>Angular 2</h4>
                            </a>
                            <a href="#">
                                <img src="app/img/img_trend_react.png"/>
                                <h4>React</h4>
                            </a>
                        </div>
                    </aside>       
                    <aside class="col-md-height col-lg-height  col-sx-12 col-sm-12 col-md-2 col-lg-2 icon-list">
                        <a href="#">
                            <img src="app/img/icon_home1.png"/>
                            <p>Home</p>
                        </a>
                        <a href="#">
                            <img src="app/img/icon_history1.png"/>
                            <p>History</p>
                        </a>
                        <a href="#">
                            <img src="app/img/icon_contact1.png"/>
                            <p>Contact</p>
                        </a>
                    </aside>
                </div>
            </div>
        </div>
        <footer class="container-fluid">
            <h1>Footer</h1>
        </footer>
    </body>
</html>